@page "/browse"
@using RewatchIt.Services
@using RewatchIt.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using TextAlign = Syncfusion.Blazor.Grids.TextAlign
@using System.Diagnostics
@using System.Linq
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.ChangeTracking
@inject TmdbService MovieService
@inject DialogService DialogService
@inject WatchedMovieContext watchedMovieDbContext

<h1>Movies</h1>

// Server=localhost\SQLEXPRESS;Database=master;Trusted_Connection=True;

<div class="search_wrapper">
    <div class="row">
        <div class="col-sm-2">
            <SfDropDownList TItem="int" TValue="int" @bind-Value="@SelectedYear" DataSource="@Years" PopupHeight="230px" Placeholder="Select a year">
            </SfDropDownList>
        </div>

        <div class="col-sm-3">
            <SfButton @onclick="ExecuteQuery">Query</SfButton>
        </div>
    </div>
</div>

<div class="row">
    <SfGrid @ref="movieGrid" DataSource="@tmdbMovieList" EnableHover="false" AllowPaging="true" AllowSelection="false">
        <GridPageSettings PageSize="5" PageSizes="PageSizes"></GridPageSettings>
        <GridColumns>
            <GridColumn Field=@nameof(TmdbMovie.Title) HeaderText="Poster" TextAlign="TextAlign.Center" Width="100">
                <Template>
                    @{
                        TmdbMovie selectedMovie = (TmdbMovie)context;
                        <div class="posterThumb">
                            <a><img src="@selectedMovie.PosterUrl" @onclick="() => ShowDetails(selectedMovie.Id, selectedMovie.Title)"></a>
                        </div>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field=@nameof(TmdbMovie.Title) HeaderText="Movie Title" Width="150"></GridColumn>
            <GridColumn Field=@nameof(TmdbMovie.ReleaseDate) Format="d" HeaderText="Release Date" Width="40"></GridColumn>
            @*<GridColumn Field=@nameof(TmdbMovie.VoteCount) HeaderText="Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>*@
            <GridColumn Field="@nameof(TmdbMovie.ReleaseDate)" HeaderText="Rating" TextAlign="TextAlign.Center" Width="100">
                <Template>
                    @{
                        TmdbMovie selectedMovie = (TmdbMovie)context;
                        //WatchedMovie watchedMovie = watchedMovieDbContext.Movies.AsNoTracking().FirstOrDefault(x => x.ID == selectedMovie.Id);
                        WatchedMovie watchedMovie = watchedMovieDbContext.Movies.FirstOrDefault(x => x.ID == selectedMovie.Id);
                        if (watchedMovie == null)
                        {
                            <RadzenRating Stars="5" Value="0" Change=@(args => OnRatingChange(selectedMovie, args)) />
                        }
                        else
                        {
                            watchedMovieDbContext.Entry(watchedMovie).State = EntityState.Detached;
                            <RadzenRating Stars="5" Value="@watchedMovie.Rating" Change=@(args => OnRatingChange(selectedMovie, args)) />
                        }
   
                    }
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>
</div>

<style>

    .posterThumb img {
        width: 25%;
        height: 25%;
    }

    .search_wrapper {
        horiz-align: left;
        padding-left: 0;
        padding-top: 50px;
        padding-bottom: 50px;
    }
</style>

@{
    if (IsMovieDetailsDialogVisible)
    {
        <SfDialog @bind-Visible="@IsMovieDetailsDialogVisible" AllowDragging="true" IsModal="true" Width="640px" Height="550px" ShowCloseIcon="true">
            <DialogTemplates>
                <Content>
                    <TmdbMovieCard MovieId="@SelectedMovieId" />
                </Content>
            </DialogTemplates>
            <DialogAnimationSettings Effect="@DialogEffect.Zoom"></DialogAnimationSettings>
        </SfDialog>
    }
}

@code
{

    private List<int> Years
    {
        get
        {
            List<int> years = new List<int>();
            for (int i = 1970; i < 2022; i++)
            {
                years.Add(i);
            }
            return years;
        }
    }

    readonly List<TmdbMovie> tmdbMovieList = new List<TmdbMovie>();
    SfGrid<TmdbMovie> movieGrid;
    private bool isMovieDetailsDialogVisible;
    private int selectedMovieId;
    private string selectedMovieTitle;
    private int selectedYear = 2021;

    bool IsMovieDetailsDialogVisible
    {
        get => isMovieDetailsDialogVisible;
        set => isMovieDetailsDialogVisible = value;
    }
    private int SelectedMovieId
    {
        get => selectedMovieId;
        set => selectedMovieId = value;
    }
    private string SelectedMovieTitle
    {
        get => selectedMovieTitle;
        set => selectedMovieTitle = value;
    }

    private async Task ExecuteQuery()
    {
        tmdbMovieList.Clear();

        int moviePageCount = await MovieService.GetMoviePageCount(SelectedYear);
        if (moviePageCount > 10)
        {
            moviePageCount = 10;
        }

        for (int page = 1; page <= moviePageCount; page++)
        {
            List<TmdbMovie> result = await MovieService.GetMovies(page, SelectedYear);
            tmdbMovieList.AddRange(result);
            movieGrid.Refresh();
        }
    }

    void ShowDetails(int movieId, string movieTitle)
    {
        SelectedMovieId = movieId;
        SelectedMovieTitle = movieTitle;
        IsMovieDetailsDialogVisible = true;
    }

    public int SelectedYear
    {
        get => selectedYear;
        set
        {
            selectedYear = value;
            ExecuteQuery();
        }
    }

    public object PageSizes => new List<int> { 5, 10, 15, 20 };

    private void OnRatingChange(TmdbMovie movie, int rating)
    {
        EntityEntry<WatchedMovie> entityEntry;

        if (watchedMovieDbContext.Movies.Any(x => x.ID == movie.Id))
        {
            entityEntry= watchedMovieDbContext.Update(new WatchedMovie() {ID = movie.Id, Title = movie.Title, Rating = rating});
        }
        else
        {
            entityEntry = watchedMovieDbContext.Add(new WatchedMovie() {ID = movie.Id, Title = movie.Title, Rating = rating});

        }

        watchedMovieDbContext.SaveChanges();
        entityEntry.State = EntityState.Detached;
    }
}

